*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  background: hsl(204, 43%, 93%);
  color: hsl(0, 0%, 100%);
  font-family: 'Karla', sans-serif;
  line-height: 1.6;
}



/* ====================
   Typography
   ==================== */

h1,
h2 {
  margin-top: 0;
  letter-spacing: -0.25px;
}

h1 {
  color: hsl(179, 62%, 43%);
  font-size: 1.25rem;
}

h2 {
  font-size: 1.125rem;
}

.intro-subheading {
  color: hsl(71, 73%, 54%);
  font-size: .9375rem;
}

.intro-text {
  color: hsl(218, 22%, 67%);
  font-size: .875rem;
}

.price {
  font-size: 2rem;
  font-weight: 700;
}

.price-period {
  font-size: initial;
  font-weight: initial;
  opacity: .5;
}



/* ====================
   Layout
   ==================== */

.card {
  width: 20rem;
  padding: 1rem;
  background: hsl(0, 0%, 100%);
  border-radius: .3125rem;
  box-shadow: 0 .9375rem 1.875rem 0 hsla(212, 100%, 34%, .15);
  overflow: hidden;
}